In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

new_click_data = pd.read_csv('/content/drive/MyDrive/fashion_campus_dataset/click_stream_new.csv')
customer = pd.read_csv('/content/drive/MyDrive/fashion_campus_dataset/customer.csv')
product = pd.read_csv('/content/drive/MyDrive/fashion_campus_dataset/product.csv')
new_transaction = pd.read_csv('/content/drive/MyDrive/fashion_campus_dataset/transaction_new.csv')

In [3]:
pd.set_option('display.max_columns', None) # 모든 열 출력

In [4]:
new_click_data.tail(10)

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
12833592,f5c4bbe0-f977-45bb-af23-6ab524df7777,BOOKING,2022-04-09T21:19:08.619449Z,cf4276ea-8a31-4293-afaf-5e923c2be13d,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN
12833593,f5c4bbe0-f977-45bb-af23-6ab524df7777,SEARCH,2022-04-09T21:01:31.132472Z,086302b8-62ba-4ce6-8cdc-9924c92176fc,MOBILE,NaN,NaN,NaN,NaN,Baju,NaN,NaN
12833594,ad1063b0-a6e5-40a9-aed6-d1b45741e571,HOMEPAGE,2021-06-07T04:31:33.354381Z,0a71bea6-41d5-41fd-9254-f59d21239f0b,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12833595,ad1063b0-a6e5-40a9-aed6-d1b45741e571,ADD_TO_CART,2021-06-07T04:38:05.354381Z,ed7a0b57-5992-4a13-86f4-34425370d43b,MOBILE,13143.0,1.0,284949.0,NaN,NaN,NaN,NaN
12833596,ad1063b0-a6e5-40a9-aed6-d1b45741e571,BOOKING,2021-06-07T04:50:54.096245Z,fa07ad46-6e4d-45db-a06a-ced7eb60b80b,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN
12833597,ad1063b0-a6e5-40a9-aed6-d1b45741e571,SEARCH,2021-06-07T04:37:53.354381Z,4b3b91a5-9bda-44de-87dc-153367071dfc,MOBILE,NaN,NaN,NaN,NaN,Bekas,NaN,NaN
12833598,64585e37-3fe7-48d7-b79b-ebcb70230eb2,HOMEPAGE,2021-05-05T11:44:14.985835Z,ab0acc87-9578-408a-b47f-c46996b8b52f,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12833599,64585e37-3fe7-48d7-b79b-ebcb70230eb2,ADD_TO_CART,2021-05-05T11:53:10.985835Z,230d7b67-9934-42f9-9509-b330ac6ae777,MOBILE,19820.0,1.0,88918.0,NaN,NaN,NaN,NaN
12833600,64585e37-3fe7-48d7-b79b-ebcb70230eb2,BOOKING,2021-05-05T12:10:09.135142Z,8996ce49-c5dd-41ed-9231-28bfdb634cbe,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN
12833601,64585e37-3fe7-48d7-b79b-ebcb70230eb2,SEARCH,2021-05-05T11:53:12.985835Z,3c60d8bc-b3e1-41fa-a87b-f65a9053856a,MOBILE,NaN,NaN,NaN,NaN,Baju,NaN,NaN

In [7]:
mobile_pattern = new_click_data[new_click_data.traffic_source == 'MOBILE'].reset_index()

In [8]:
mobile_pattern.to_csv('/content/drive/MyDrive/fashion_campus_dataset/mobile_click.csv')

In [9]:
web_pattern = new_click_data[new_click_data.traffic_source == 'WEB'].reset_index()
web_pattern.to_csv('/content/drive/MyDrive/fashion_campus_dataset/web_click.csv')

In [15]:
mobile_pattern.groupby(['event_name', 'traffic_source']).agg(['unique'])

,,index,session_id,event_time,event_id,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
,,unique,unique,unique,unique,unique,unique,unique,unique,unique,unique,unique
event_name,traffic_source,,,,,,,,,,,
ADD_PROMO,MOBILE,"[20, 53, 74, 169, 205, 240, 248, 254, 290, 315...","[f7b5cd60-4f87-4b3c-8bde-c7da8930eec2, 98e66f5...","[2019-09-09T07:22:05.425431Z, 2019-10-02T15:14...","[28329764-aa29-4e7a-9d8e-eee88d00a640, 1d29318...",[nan],[nan],[nan],[nan],[nan],"[AZ2022, WEEKENDSERU, XX2022, LIBURDONG, BUYMO...","[7047.0, 6307.0, 5165.0, 2569.0, 4382.0, 9019...."
ADD_TO_CART,MOBILE,"[3, 12, 13, 14, 15, 16, 17, 18, 19, 39, 52, 66...","[7d440441-e67a-4d36-b324-80ffd636d166, f7b5cd6...","[2019-09-01T12:06:33.322763Z, 2019-09-09T05:06...","[934e306e-ecc6-472f-9ccb-12c8536910a2, c1b4215...","[15315.0, 6133.0, 6721.0, 57622.0, 5490.0, 213...","[4.0, 2.0, 1.0, 3.0, 7.0, 16.0, 6.0, 14.0, 5.0...","[313529.0, 249443.0, 134504.0, 384716.0, 12131...",[nan],[nan],[nan],[nan]
BOOKING,MOBILE,"[4, 21, 40, 54, 67, 75, 98, 102, 114, 170, 190...","[7d440441-e67a-4d36-b324-80ffd636d166, f7b5cd6...","[2019-09-01T12:15:29.425431Z, 2019-09-09T12:17...","[9f4767a1-40fa-4c9c-9524-dfad18634d56, 3e6b12b...",[nan],[nan],[nan],"[Success, Failed]",[nan],[nan],[nan]
CLICK,MOBILE,"[28, 30, 36, 58, 60, 61, 63, 68, 70, 77, 79, 8...","[f7b5cd60-4f87-4b3c-8bde-c7da8930eec2, 98e66f5...","[2019-09-09T06:50:49.425431Z, 2019-09-09T07:26...","[0376c7bf-145a-4eb0-953c-5137bc52bbac, 6ed5a90...",[nan],[nan],[nan],[nan],[nan],[nan],[nan]
HOMEPAGE,MOBILE,"[0, 2, 6, 11, 24, 27, 29, 38, 51, 56, 65, 72, ...","[fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c, 7d44044...","[2019-09-06T15:54:32.821085Z, 2019-09-01T12:05...","[9c4388c4-c95b-4678-b5ca-e9cbc0734109, 88aeaeb...",[nan],[nan],[nan],[nan],[nan],[nan],[nan]
ITEM_DETAIL,MOBILE,"[7, 9, 10, 26, 37, 81, 86, 88, 123, 126, 137, ...","[7d440441-e67a-4d36-b324-80ffd636d166, f7b5cd6...","[2019-09-01T12:09:49.322763Z, 2019-09-01T12:12...","[1a1e3548-108e-4520-bf04-1b01d43a72cb, 74a000d...",[nan],[nan],[nan],[nan],[nan],[nan],[nan]
PROMO_PAGE,MOBILE,"[32, 33, 62, 64, 78, 92, 93, 107, 124, 125, 16...","[f7b5cd60-4f87-4b3c-8bde-c7da8930eec2, 98e66f5...","[2019-09-09T08:00:18.425431Z, 2019-09-09T08:16...","[4948ed0c-9e71-47e5-878d-d31610df4c21, 1bc809e...",[nan],[nan],[nan],[nan],[nan],[nan],[nan]
SCROLL,MOBILE,"[1, 8, 23, 25, 31, 34, 41, 55, 69, 71, 76, 89,...","[fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c, 7d44044...","[2019-09-06T16:03:57.821085Z, 2019-09-01T12:11...","[4690e1f5-3f99-42d3-84a5-22c4c4d8500a, f724609...",[nan],[nan],[nan],[nan],[nan],[nan],[nan]
SEARCH,MOBILE,"[5, 22, 35, 57, 59, 105, 109, 122, 129, 136, 1...","[7d440441-e67a-4d36-b324-80ffd636d166, f7b5cd6...","[2019-09-01T12:07:00.322763Z, 2019-09-09T05:06...","[c952142b-4fe9-4694-ad7f-21a5d1bed9ca, 65ad97d...",[nan],[nan],[nan],[nan],"[Dress Kondangan, Tas Wanita, Celana Panjang, ...",[nan],[nan]

In [18]:
mobile_pattern.groupby(['event_name', 'traffic_source']).agg(['count'])

,,index,session_id,event_time,event_id,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
,,count,count,count,count,count,count,count,count,count,count,count
event_name,traffic_source,,,,,,,,,,,
ADD_PROMO,MOBILE,293838,293838,293838,293838,0,0,0,0,0,293838,293838
ADD_TO_CART,MOBILE,1743476,1743476,1743476,1743476,1743476,1743476,1743476,0,0,0,0
BOOKING,MOBILE,767254,767254,767254,767254,0,0,0,767254,0,0,0
CLICK,MOBILE,2247457,2247457,2247457,2247457,0,0,0,0,0,0,0
HOMEPAGE,MOBILE,2237231,2237231,2237231,2237231,0,0,0,0,0,0,0
ITEM_DETAIL,MOBILE,1161552,1161552,1161552,1161552,0,0,0,0,0,0,0
PROMO_PAGE,MOBILE,544252,544252,544252,544252,0,0,0,0,0,0,0
SCROLL,MOBILE,1497180,1497180,1497180,1497180,0,0,0,0,0,0,0
SEARCH,MOBILE,1056064,1056064,1056064,1056064,0,0,0,0,1056064,0,0

In [16]:
web_pattern.groupby(['event_name', 'traffic_source']).agg(['unique'])

,,index,session_id,event_time,event_id,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
,,unique,unique,unique,unique,unique,unique,unique,unique,unique,unique,unique
event_name,traffic_source,,,,,,,,,,,
ADD_PROMO,WEB,"[46, 195, 485, 1517, 2245, 2315, 2360, 2756, 2...","[d9aaa8a8-5e60-4e1e-ab0a-bb9755a7a3e9, 85018cb...","[2019-09-24T16:16:10.425431Z, 2019-12-05T15:39...","[7a808081-2384-4a3a-ad00-9f10df4f07a7, b3430d5...",[nan],[nan],[nan],[nan],[nan],"[BUYMORE, AZ2022, WEEKENDMANTAP, XX2022, LIBUR...","[4903.0, 2506.0, 5937.0, 3235.0, 4324.0, 2339...."
ADD_TO_CART,WEB,"[43, 44, 45, 194, 484, 926, 1322, 1516, 1634, ...","[d9aaa8a8-5e60-4e1e-ab0a-bb9755a7a3e9, 85018cb...","[2019-09-24T01:15:27.425431Z, 2019-09-24T06:13...","[e65e2954-9a2d-4847-86df-f491d6e8b872, 6a33f0d...","[25875.0, 4790.0, 30881.0, 32439.0, 54656.0, 2...","[4.0, 1.0, 2.0, 3.0, 9.0, 8.0, 6.0, 11.0, 10.0...","[287362.0, 262894.0, 88678.0, 219790.0, 335802...",[nan],[nan],[nan],[nan]
BOOKING,WEB,"[47, 196, 486, 927, 1323, 1518, 1635, 1756, 20...","[d9aaa8a8-5e60-4e1e-ab0a-bb9755a7a3e9, 85018cb...","[2019-09-25T12:30:19.425431Z, 2019-12-06T13:56...","[622fb041-d094-43d7-988a-da0bb66f17f0, 6909c77...",[nan],[nan],[nan],"[Success, Failed]",[nan],[nan],[nan]
CLICK,WEB,"[48, 50, 197, 198, 488, 489, 490, 491, 496, 49...","[d9aaa8a8-5e60-4e1e-ab0a-bb9755a7a3e9, 85018cb...","[2019-09-24T01:15:39.425431Z, 2019-09-24T11:17...","[e363f2c3-d624-41df-b24b-11ea67d10b68, dcb63b1...",[nan],[nan],[nan],[nan],[nan],[nan],[nan]
HOMEPAGE,WEB,"[42, 193, 483, 492, 495, 499, 502, 504, 506, 5...","[d9aaa8a8-5e60-4e1e-ab0a-bb9755a7a3e9, 85018cb...","[2019-09-23T20:17:49.425431Z, 2019-12-05T09:20...","[ab929a73-3c47-4870-a7e9-74a69a1c9688, 1b2fcf7...",[nan],[nan],[nan],[nan],[nan],[nan],[nan]
ITEM_DETAIL,WEB,"[49, 500, 510, 512, 547, 552, 566, 574, 576, 5...","[d9aaa8a8-5e60-4e1e-ab0a-bb9755a7a3e9, befad1a...","[2019-09-24T06:17:29.425431Z, 2020-04-03T23:00...","[719e3149-51ff-41b3-99f2-85fcdd465f74, be7a2b6...",[nan],[nan],[nan],[nan],[nan],[nan],[nan]
PROMO_PAGE,WEB,"[200, 527, 542, 544, 555, 579, 584, 594, 1331,...","[85018cbd-7801-4d0b-851a-6483366273ff, befad1a...","[2019-12-05T22:04:08.425431Z, 2020-04-06T08:11...","[0ce4a39b-afd3-479c-b893-7698f026ad83, b84330d...",[nan],[nan],[nan],[nan],[nan],[nan],[nan]
SCROLL,WEB,"[199, 201, 487, 493, 507, 519, 535, 556, 557, ...","[85018cbd-7801-4d0b-851a-6483366273ff, befad1a...","[2019-12-05T18:55:14.425431Z, 2019-12-06T01:15...","[7bbd7a97-c279-4932-a08f-8dac4e22cdf6, 8c960bb...",[nan],[nan],[nan],[nan],[nan],[nan],[nan]
SEARCH,WEB,"[202, 494, 498, 501, 505, 524, 529, 537, 548, ...","[85018cbd-7801-4d0b-851a-6483366273ff, befad1a...","[2019-12-06T04:25:14.425431Z, 2020-04-02T12:45...","[563d4ab5-f013-4df1-988b-17ab57067e56, 9f81351...",[nan],[nan],[nan],[nan],"[Thrift, T-Shirt, Tas Wanita, Celana, Jam, Top...",[nan],[nan]

In [17]:
web_pattern.groupby(['event_name', 'traffic_source']).agg(['count'])

,,index,session_id,event_time,event_id,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
,,count,count,count,count,count,count,count,count,count,count,count
event_name,traffic_source,,,,,,,,,,,
ADD_PROMO,WEB,32697,32697,32697,32697,0,0,0,0,0,32697,32697
ADD_TO_CART,WEB,193681,193681,193681,193681,193681,193681,193681,0,0,0,0
BOOKING,WEB,85328,85328,85328,85328,0,0,0,85328,0,0,0
CLICK,WEB,250581,250581,250581,250581,0,0,0,0,0,0,0
HOMEPAGE,WEB,249895,249895,249895,249895,0,0,0,0,0,0,0
ITEM_DETAIL,WEB,128844,128844,128844,128844,0,0,0,0,0,0,0
PROMO_PAGE,WEB,60679,60679,60679,60679,0,0,0,0,0,0,0
SCROLL,WEB,166391,166391,166391,166391,0,0,0,0,0,0,0
SEARCH,WEB,117202,117202,117202,117202,0,0,0,0,117202,0,0

In [20]:
len(new_click_data.session_id.unique())

895203

In [24]:
new_click_data.event_name.unique()

array(['HOMEPAGE', 'SCROLL', 'ADD_TO_CART', 'BOOKING', 'SEARCH',
       'ITEM_DETAIL', 'ADD_PROMO', 'CLICK', 'PROMO_PAGE'], dtype=object)

In [25]:
new_click_data.traffic_source.unique()

array(['MOBILE', 'WEB'], dtype=object)

In [26]:
new_click_data.groupby('session_id')

In [4]:
customer.tail(2)

,customer_id,first_name,last_name,username,email,gender,birthdate,device_type,device_id,device_version,home_location_lat,home_location_long,home_location,home_country,first_join_date
99998,75597,Ajimat,Mansur,35cd82f3-6b86-42a2-bb15-933770d7f250,35cd82f3_6b86_42a2_bb15_933770d7f250@startupca...,M,2000-09-13,Android,3b209c58-d305-4b46-9363-b90a3914f008,Android 7.1,-2.173114,101.495913,Jambi,Indonesia,2020-05-31
99999,40573,Yani,Usada,f5a2ab29-481d-49e6-960e-cb864ee1ed5a,f5a2ab29_481d_49e6_960e_cb864ee1ed5a@startupca...,F,1987-09-10,Android,b6bc29e0-5a22-47af-b31e-0972aafd4cab,Android 3.2.6,-6.524369,106.283232,Banten,Indonesia,2021-07-17

In [5]:
product.tail(2)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
44444,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume
44445,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050

In [7]:
new_transaction.tail(2)

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
1254583,2019-12-18T11:01:09.623382Z,87319,af7f291a-b01b-4bfd-89a9-237b16368b15,bb6e5426-a3f3-426a-b99d-79173eaa234b,Credit Card,Success,4503,AZ2022,0,2019-12-23T22:56:46.831720Z,-7.155977,110.891858,184143,11312,1,188646
1254584,2019-12-19T12:47:14.701215Z,58180,b242e188-5f94-4448-a038-c5865842374b,5e3183df-198b-40e0-b861-27ef694a832a,Gopay,Success,4724,BUYMORE,10000,2019-12-23T06:02:05.828334Z,-6.155983,106.723535,365963,47433,1,360687

In [21]:
tran_product = pd.merge(new_transaction, product, left_on='product_id', right_on='id', how='left')
tran_product.tail()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
1254580,2021-09-21T22:10:05.074873Z,25121,66f02fa4-c62e-497a-8b6e-be239009b50a,484eecde-9f4a-42de-a8df-7ce6668101f4,Debit Card,Failed,0,NaN,0,2021-09-27T00:43:40.992167Z,-6.869535,111.077145,226820,30642,2,113410,30642,Men,Apparel,Topwear,Tshirts,White,Summer,2012.0,Casual,Nike Men Printed White T-shirt
1254581,2021-12-09T07:35:18.222046Z,34829,ccde6b83-ee42-4cce-b2cd-976574886eac,954e1211-4d45-4d0b-ba84-53e80119592c,OVO,Success,5010,AZ2022,10000,2021-12-12T07:52:44.803822Z,-8.677264,115.176947,359203,19394,1,354213,19394,Men,Apparel,Topwear,Jackets,Blue,Summer,2011.0,Casual,ADIDAS Men Solid Blue Jacket
1254582,2021-12-11T01:20:36.944593Z,99645,5bcd3434-1dc6-44bb-ae63-fd19714cbd6c,e6e6c108-abd0-49a2-b0a5-691117f9cfe1,Credit Card,Success,2181,WEEKENDSERU,5000,2021-12-12T13:28:22.848703Z,-6.185498,106.831093,1158159,13079,4,288835,13079,Men,Footwear,Shoes,Casual Shoes,White,Fall,2011.0,Casual,Numero Uno Men White Casual Shoes
1254583,2019-12-18T11:01:09.623382Z,87319,af7f291a-b01b-4bfd-89a9-237b16368b15,bb6e5426-a3f3-426a-b99d-79173eaa234b,Credit Card,Success,4503,AZ2022,0,2019-12-23T22:56:46.831720Z,-7.155977,110.891858,184143,11312,1,188646,11312,Men,Apparel,Bottomwear,Trousers,Beige,Fall,2011.0,Casual,Scullers Men Rugged Chinos Beige Trousers
1254584,2019-12-19T12:47:14.701215Z,58180,b242e188-5f94-4448-a038-c5865842374b,5e3183df-198b-40e0-b861-27ef694a832a,Gopay,Success,4724,BUYMORE,10000,2019-12-23T06:02:05.828334Z,-6.155983,106.723535,365963,47433,1,360687,47433,Women,Accessories,Bags,Handbags,Brown,Summer,2012.0,Casual,Baggit Women Brown Handbag

In [22]:
tran_prod_cus = pd.merge(tran_product, customer, on='customer_id', how='left')
tran_prod_cus.tail()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price,id,gender_x,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,first_name,last_name,username,email,gender_y,birthdate,device_type,device_id,device_version,home_location_lat,home_location_long,home_location,home_country,first_join_date
1254580,2021-09-21T22:10:05.074873Z,25121,66f02fa4-c62e-497a-8b6e-be239009b50a,484eecde-9f4a-42de-a8df-7ce6668101f4,Debit Card,Failed,0,NaN,0,2021-09-27T00:43:40.992167Z,-6.869535,111.077145,226820,30642,2,113410,30642,Men,Apparel,Topwear,Tshirts,White,Summer,2012.0,Casual,Nike Men Printed White T-shirt,Himawan,Kurniawan,ef7a59f0-f5d4-42b5-85f5-82e093c733cf,ef7a59f0_f5d4_42b5_85f5_82e093c733cf@startupca...,M,1993-05-19,Android,4e168860-5c6f-4fa3-a0a7-5b10ff9b0bab,Android 2.2.1,-6.869535,111.077145,Jawa Tengah,Indonesia,2020-11-12
1254581,2021-12-09T07:35:18.222046Z,34829,ccde6b83-ee42-4cce-b2cd-976574886eac,954e1211-4d45-4d0b-ba84-53e80119592c,OVO,Success,5010,AZ2022,10000,2021-12-12T07:52:44.803822Z,-8.677264,115.176947,359203,19394,1,354213,19394,Men,Apparel,Topwear,Jackets,Blue,Summer,2011.0,Casual,ADIDAS Men Solid Blue Jacket,Salwa,Prastuti,46d47eaa-4d8a-4f17-b083-48c2ad4fe947,46d47eaa_4d8a_4f17_b083_48c2ad4fe947@zakyfound...,F,2006-04-21,Android,582053d8-d444-427b-9e9a-e12bbc54b1d8,Android 2.3,-2.266407,120.415779,Sulawesi Selatan,Indonesia,2021-12-08
1254582,2021-12-11T01:20:36.944593Z,99645,5bcd3434-1dc6-44bb-ae63-fd19714cbd6c,e6e6c108-abd0-49a2-b0a5-691117f9cfe1,Credit Card,Success,2181,WEEKENDSERU,5000,2021-12-12T13:28:22.848703Z,-6.185498,106.831093,1158159,13079,4,288835,13079,Men,Footwear,Shoes,Casual Shoes,White,Fall,2011.0,Casual,Numero Uno Men White Casual Shoes,Tania,Palastri,f09d115a-a950-451e-9c4f-de117a2657f4,f09d115a_a950_451e_9c4f_de117a2657f4@zakyfound...,F,1991-03-17,Android,91acc617-e277-463c-8132-7fd0196520a7,Android 2.3.4,-6.185498,106.831093,Jakarta Raya,Indonesia,2021-12-08
1254583,2019-12-18T11:01:09.623382Z,87319,af7f291a-b01b-4bfd-89a9-237b16368b15,bb6e5426-a3f3-426a-b99d-79173eaa234b,Credit Card,Success,4503,AZ2022,0,2019-12-23T22:56:46.831720Z,-7.155977,110.891858,184143,11312,1,188646,11312,Men,Apparel,Bottomwear,Trousers,Beige,Fall,2011.0,Casual,Scullers Men Rugged Chinos Beige Trousers,Winda,Suryatmi,57561022-e2f9-42de-a46b-428cce52e5dc,57561022_e2f9_42de_a46b_428cce52e5dc@zakyfound...,F,2007-10-26,iOS,1aba24d3-afbe-43f6-b37a-b5a5fee727a6,iPad; CPU iPad OS 9_3_5 like Mac OS X,-7.155977,110.891858,Jawa Tengah,Indonesia,2019-12-18
1254584,2019-12-19T12:47:14.701215Z,58180,b242e188-5f94-4448-a038-c5865842374b,5e3183df-198b-40e0-b861-27ef694a832a,Gopay,Success,4724,BUYMORE,10000,2019-12-23T06:02:05.828334Z,-6.155983,106.723535,365963,47433,1,360687,47433,Women,Accessories,Bags,Handbags,Brown,Summer,2012.0,Casual,Baggit Women Brown Handbag,Dewi,Lailasari,1cac640c-6099-40a3-b275-74337a8e1bd8,1cac640c_6099_40a3_b275_74337a8e1bd8@startupca...,F,2003-11-04,Android,66666b8a-5031-47ad-a2a7-f70c88c4e407,Android 5.0.1,-6.155983,106.723535,Jakarta Raya,Indonesia,2019-12-18